<h1>Welcome to coin calculator!</h1>
<form action="/final_combo">
  <div class="form-group">
    <label for="coin_amount">Enter your change total in cents</label>
    <input id="coin_amount" name="coin_amount" class="form-control" type="Fixnum">
  </div>
  <button type="submit" class="btn-success">Submit</button>
</form>
